<h1>New Todo</h1>

<div class="my-5 pb-5">
    <%= render 'form' %>
</div>

<div class="row justify-content-md-center">
    <%= link_to 'Back', todos_path, class: 'btn btn-secondary col col-lg-2 my-3 mx-3' %>
</div>
